<li id="<%= textpost.id %>">
  <%= link_to gravatar_for(textpost.user, size: 50), textpost.user %>
  <span class="user"><%= link_to textpost.user.name, textpost.user %></span>
  <span class="content">
    <%= textpost.content %>
    <%= image_tag textpost.picture.url if textpost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(textpost.created_at) %> ago.
    <% if current_user?(textpost.user) %>
      <%= link_to "delete", textpost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>